[Desktop Entry]
Type=Application
Name=SteamSSE Emulator
Exec=/usr/local/bin/SteemSSELinux/bin/launch_steem
Icon=/usr/local/bin/SteemSSELinux/assets/logo.png
Categories=Game;Emulator;
Keywords=Atari;ST;
Path=/usr/local/bin/SteemSSELinux/
Terminal=false
DBusActivatable=false
StartupNotify=true

